.navbar {
    background-color: #34495E;
}

.nav-link, .navbar-brand {
    color: #ffffff;

}

.nav-link {
    margin-right: 1em;
}

.navbar-brand {
    margin-left: 1em;
}
button {
    color: #ffffff;
}


body {
    font-family: Raleway;
}
