.navbar {
    background-color: #34495E;
}

.nav-link, .navbar-brand, .learn-more {
    color: #ffffff;

}

.nav-link {
    margin-right: 1em;
}

.navbar-brand {
    margin-left: 1em;
}
button {
    color: #ffffff;
}


body {
    font-family: Raleway;
}

.hero-landing {
    color: #ffffff;
    background-color: #34495E;
    height: 100%;
}

.hero-context > h1 {
    padding-top: 2em;
    font-weight: 700;
    font-size: 48px;
}

.page-scroll {
    margin-top: 5em;
    margin-bottom: 1em;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 60%;
    margin: auto;
}

.about, .skills {
    padding: 3em 0;
    text-align: center;
    height: 100%;
}

.about-content, .skills-content {
    margin: 1em 0;
}

.about-text {
    width: 75%;
    margin: auto;
    padding-top: 0.5em;
}

.about-section, .skills-section {
    margin: 2em 0;
}

.skills {
    background-color: #EDEEF0;
    width: 100%;
}

.about-icon {
    width: 75%;
    padding-top: 1em;
}

.test {
    background-color: yellow;
}

.full-bar {
    height: 1em;
    width: 70%;
    background-color: #99A4AE;
    margin-top: 0.25em;
    margin-bottom: 1.5em;
}

.progress-bar {
    background-color: #34495E;
}

h3 {
    margin-bottom: 2em;
    text-align: left;
}

.technical-skills {
    margin-left: 2em;
}

.second-skills {
    margin-top: 5em;
}

.second-course {
    margin-top: 6em;
}

.course {
    margin-top: 0.25em;
    margin-bottom: 1.5em;
    border: solid #34495E 3px;
    height: 4em;
    padding: 1em;
}


